@font-face {
  font-family: "PT Sans Regular";
  src: url("pts55f-webfont.woff2") format("woff2"),
    url("pts55f-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("pts56f-webfont.woff2") format("woff2"),
    url("pts56f-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("pts75f-webfont.woff2") format("woff2"),
    url("pts75f-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("pts76f-webfont.woff2") format("woff2"),
    url("pts76f-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
